{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title> Login - chatApp</title>
</head>

<body>
<main class="container">
    {% bootstrap_messages %}
    <hr>
    <h1 class="text-center">ChatApp</h1>
    <hr>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="class-md-5">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <a class="btn btn-warning"
                       href="{% url 'accounts:registration_uri' %}">Register</a>
                    <button type="submit" class="btn btn-primary">Login
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>

</main>
</body>
</html>
